#homebutton {
  display: absolute;
  widows: 100px;
  margin: 0 auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  color: white;
  width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 75px;
  text-align: center;
  font-family: "Lobster", cursive;
}

p,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.body {
  color: white;
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

button {
  width: 80px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

.viewjobstitle {
  text-align: center;
  color: white;
  width: 600px;
}

.logout {
  margin-left: 20px;
}

.dashboardfcomponents {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}

.freedashh1 {
  color: white;
  width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 75px;
  text-align: center;
  font-family: "Lobster", cursive;
}

.viewjobscomponent {
  text-align: center;
  color: white;
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* .viewjobscomponent {
  text-align: center;
  width: 600px;
  grid-gap: 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
} */

.viewjobscomponent div {
  border: 1px solid white;
  text-transform: capitalize;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.cart {
  text-align: center;
  color: white;
  width: 660px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartitem {
  border: 1px solid white;
  text-transform: capitalize;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  height: 225px;
}

.cart div {
  width: 200px;
}

.carttitle {
  text-align: center;
  color: white;
  width: 600px;
}

.dashboardf p {
  text-align: center;
  color: white;
  font-weight: bold;
}

.dashboardf button {
  width: 110px;
}

/* .box-area {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.522);
  animation: animate 10s linear infinite;
  bottom: -150px;
  z-index: 1;
}

.box-area li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-duration: 5s;
}

.box-area li:nth-child(2) {
  left: 2%;
  width: 90px;
  height: 90px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 15%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 51%;
  width: 150px;
  height: 150px;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 60%;
  width: 40px;
  height: 40px;
}

.box-area li:nth-child(6) {
  left: 72%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7) {
  left: 80%;
  width: 100px;
  height: 100px;
  animation-delay: 1s;
}

.box-area li:nth-child(8) {
  left: 95%;
  width: 190px;
  height: 190px;
  animation-duration: 8s;
}

@keyframes animate {
  0% {
    transform: translateY(100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-2000px) rotate(360deg);
    opacity: 0;
  }
} */
