body {
  background-color: grey;
  background: linear-gradient(to left, #204051, #3b6978, #84a9ac, #cae8d5);
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  color: white;
  width: 1000px;
  margin: 0 auto;
  font-size: 75px;
  text-align: center;
  font-family: "Lobster", cursive;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.dashboardrcomponents {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.jobposts h3,
.jobposts h4,
.jobposts h5 {
  text-align: center;
  color: white;
}

.jobpost {
  margin-right: 150px;
  margin-top: 100px;
}

.viewfreelancers {
  display: flex;
  width: 800px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.onejob {
  border: solid white 1px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0 auto;
  width: 130px;
  height: 165px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.jobname {
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  color: white;
}

.jobdesc {
  text-transform: capitalize;
}

.body {
  color: white;
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.components {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

button {
  width: 180px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registerarea a,
.logins a {
  width: 80px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  z-index: 1000;
}

.mainheader a {
  width: 105px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  z-index: 1000;
  height: 45px;
}

.box-area {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 1200px;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.522);
  animation: animate 10s linear infinite;
  bottom: -150px;
  z-index: 1;
}

.box-area li:nth-child(1) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-duration: 5s;
}

.box-area li:nth-child(2) {
  left: 2%;
  width: 90px;
  height: 90px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 15%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 51%;
  width: 150px;
  height: 150px;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 60%;
  width: 40px;
  height: 40px;
}

.box-area li:nth-child(6) {
  left: 72%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

.box-area li:nth-child(7) {
  left: 80%;
  width: 100px;
  height: 100px;
  animation-delay: 1s;
}

.box-area li:nth-child(8) {
  left: 95%;
  width: 190px;
  height: 190px;
  animation-duration: 8s;
}

@keyframes animate {
  0% {
    transform: translateY(100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-2000px) rotate(360deg);
    opacity: 0;
  }
}
